/* © 2018 Tran Trong Thanh */

.card {
	max-width: 25rem;
	width: 100%;
	padding: $gutter;
	list-style: none;
	margin: 0;
	font-size: 1.4rem;

	@media (min-width: $screen-md) {
		font-size: 1.6rem;
	}

	&__thumb {
		/* aspect-ratio: 4:5 */
		padding-bottom: 80%;
		position: relative;
		border-radius: $border-radius;
		overflow: hidden;
		transition: 300ms all;

		&__img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}

	&__title {
		font-size: 1em;
		margin-top: $gutter-sm;
		margin-bottom: $gutter-sm;
		text-transform: capitalize;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: 300ms all;
	}

	p {
		margin-bottom: $gutter-sm;
	}

	&__display-price {
		font-size: 1em;
		font-weight: 600;
	}

	&__original-price {
		font-size: 0.8em;
		color: $c-green-dark;

		&__price {
			text-decoration: line-through;
		}
	}

	&__review {
		font-size: 0.8em;
	}

	&__link {
		display: block;
		color: $c-black;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			color: $c-black;
		}
	}

	&:hover {
		.card__thumb {
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
		}

		.card__title {
			color: $c-primary;
		}
	}
}

.star-rating {
	vertical-align: -0.2em;
	font-size: 1.1em;
}
