/* © 2018 Tran Trong Thanh */

.item-grid {
	margin-top: $gutter-lg;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;

	.card {
		width: 50%;

		@media (min-width: $screen-sm) {
			width: 33%;
		}

		@media (min-width: $screen-md) {
			width: 25%;
		}

		@media (min-width: $screen-lg) {
			width: 20%;
		}

		@media (min-width: $screen-xl) {
			width: 16.6%;
		}
	}
}
