/* © 2018 Tran Trong Thanh */

.footer {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.4rem;
	border-top: 1px solid $c-gray-lighter2;
	padding: ($gutter-lg * 2) 0;
	margin-top: ($gutter-lg * 2);

	&__section-contact,
	&__section-about,
	&__section-subscriber {
		margin: 0 $gutter;
	}

	&__section-contact {
		flex: 1 0 45%;
	}

	&__section-about {
		flex: 1 0 45%;
	}

	&__section-subscriber {
		flex: 2 0 90%;
	}

	&__title {
		font-size: 1.2em;
		font-weight: 600;
		margin-bottom: 0.8em;
	}

	&__links {
		list-style: none;

		li {
			margin-bottom: 0.5em;
		}
	}

	a {
		color: $c-blue-dark;
	}
}

@media (min-width: $screen-md) {
	.footer__section-contact {
		flex: 1 0 25%;
	}

	.footer__section-about {
		flex: 1 0 25%;
	}

	.footer__section-subscriber {
		flex: 2 0 40%;
	}
}

.subscription {
	&__label {
		display: inline-block;
		margin-right: $gutter;
	}

	&__radio-group {
		white-space: nowrap;
	}
}

.badge-appstore {
	margin-right: $gutter;

	img {
		height: 5rem;
	}
}

.copyright {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: $gutter;
}
