/* © 2018 Tran Trong Thanh */
.site-header {
	background-color: $c-blue-dark;
	overflow: hidden;
}

.top-links {
	list-style: none;
	text-align: right;
	font-size: 0.8em;
	text-transform: uppercase;
	display: none;

	@media (min-width: $screen-sm) {
		display: block;
	}

	&__item {
		display: inline-block;
		margin: $gutter-sm;
	}

	&__link {
		color: $c-gray-lighter2;

		&:hover {
			color: lighten($c-secondary, 20%);
		}
	}
}

.search-box {
	display: flex;

	.search-box__text,
	.search-box__text:focus {
		border-radius: $border-radius 0 0 $border-radius;
		border: 0;
		vertical-align: top;
		margin: 0;
		flex: 1 0 60%;
	}

	@media (min-width: $screen-md) {
		.search-box__text {
			width: 30vw;
		}
	}

	.search-box__btn,
	.search-box__btn:focus,
	.search-box__btn:hover {
		border: 0;
		border-radius: 0 $border-radius $border-radius 0;
		vertical-align: top;
		margin: 0;
		padding: 0 $gutter;

		@media (min-width: $screen-sm) {
			padding: 0 30px;
		}
	}
}

.site-id {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: $gutter auto;
	align-items: center;

	&__logo {
		height: 3rem;
		@media (min-width: $screen-sm) {
			height: 4rem;
		}
	}

	&__search {
		margin: $gutter 0 0;
		order: 1;
		width: 100%;

		@media (min-width: $screen-sm) {
			order: 0;
			width: auto;
			margin: 0 $gutter-lg;
		}
	}

	&__cart {
		display: block;
		color: $c-white;
		text-decoration: none;
		line-height: 0;

		&:hover {
			color: $c-primary;
			text-decoration: none;
		}
	}

	&__cart-icon {
		font-size: 2em;
		vertical-align: -0.2em;
	}
}

.cat-list {
	list-style: none;
	// so that this container will shrink with content
	display: inline-flex;
	flex-wrap: nowrap;
	font-size: 1.4rem;
	min-width: 1024;
	background-color: transparent;

	&__item {
		display: block;
		color: $c-white;
		padding: $gutter;
		text-align: center;

		&--active {
			color: $c-primary;
		}

		&:hover {
			color: $c-primary;
			text-decoration: none;
		}
	}
}
