/* © 2018 Tran Trong Thanh */

.product {
	display: flex;
	flex-flow: wrap;
	margin-top: $gutter-lg;

	&__media {
		width: 100%;

		@media (min-width: $screen-sm) {
			width: 50%;
		}

		&__img {
			width: 100%;
		}

		@media (min-width: $screen-sm) {
			.slick-slider {
				margin-bottom: 50px;
			}
		}
	}

	&__meta {
		width: 100%;

		@media (min-width: $screen-sm) {
			flex: 0 0 45%;
			width: 45%;
			padding-left: $gutter-lg;
		}
	}

	&__title {
		font-size: 1.5em;
		font-weight: 600;
	}

	&__price {
		font-size: 1.5em;
		margin: 0;

		&__display-price {
			font-weight: 700;
			color: $c-primary;
		}

		&__original-price {
			font-size: 0.8em;
			color: $c-gray;
			text-decoration: line-through;
		}
	}

	&__variant {
		display: flex;
		align-items: baseline;

		&__label {
			flex: 0 0 20%;
		}
	}

	&__discount-info {
		color: $c-green-dark;
	}

	&__merchant {
		&__link {
			color: $c-black;
		}

		&__avatar {
			float: left;
			display: block;
			width: 8rem;
			margin-right: $gutter;
		}

		&__name {
			font-size: 1.8rem;
		}

		&__rating {
		}
	}

	&__cta {
		&__add-to-cart {
			width: 100%;
		}
	}

	&__section-separator {
		flex: 0 0 100%;
		width: 100%;
	}
}
