/* © 2018 Tran Trong Thanh */

.container {
	padding: 0 $gutter;

	&__content {
		max-width: $screen-xl;
		margin: auto;
	}

	&__narrow-content {
		max-width: $screen-lg;
		margin: auto;
	}

	@media (min-width: screen-md) {
		padding: 0 $gutter-lg;
	}
}
