/*
* Based on Skeleton CSS V2.0.4
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
We're using bootstrap 4 grid for more fine-tuning at
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: Muli, Roboto, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $c-black;
	// FIXME: temporary to work late:
	// background-color: #888;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}
h1 {
	font-size: 4rem;
	line-height: 1.2;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
}
h3 {
	font-size: 3rem;
	line-height: 1.3;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
}

/* Larger than phablet */
@media (min-width: 550px) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4.2rem;
	}
	h3 {
		font-size: 3.6rem;
	}
	h4 {
		font-size: 3rem;
	}
	h5 {
		font-size: 2.4rem;
	}
	h6 {
		font-size: 1.5rem;
	}
}

p {
	margin-top: 0;
}

.material-icons {
	font-size: inherit;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: $c-secondary;
}

a:hover {
	color: $c-blue-dark;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $c-primary;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 38px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: $border-radius;
	border: 1px solid $c-primary;
	cursor: pointer;
	box-sizing: border-box;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
	border: 1px solid lighten($c-primary, 10%);
	color: lighten($c-primary, 10%);
	outline: 0;
}

.button.button--primary,
button.button--primary,
input[type='submit'].button--primary,
input[type='reset'].button--primary,
input[type='button'].button--primary {
	color: #fff;
	background-color: $c-primary;
	border-color: $c-primary;
}

.button.button--primary:hover,
button.button--primary:hover,
input[type='submit'].button--primary:hover,
input[type='reset'].button--primary:hover,
input[type='button'].button--primary:hover,
.button.button--primary:focus,
button.button--primary:focus,
input[type='submit'].button--primary:focus,
input[type='reset'].button--primary:focus,
input[type='button'].button--primary:focus {
	color: #fff;
	background-color: lighten($c-primary, 10%);
	border-color: lighten($c-primary, 10%);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: $c-white-darker;
	border: 1px solid $c-gray-lighter2;
	border-radius: $border-radius;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px 0 $c-black;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus {
	border: 1px solid $c-secondary;
	outline: 0;
	background-color: $c-white;
	box-shadow: inset 0 0 2px 0 $c-black;
}
label,
legend {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: 0.5rem;
	font-weight: normal;
}

select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: $c-white-darker;
	border: 1px solid $c-gray-lighter2;
	border-radius: $border-radius;
	box-sizing: border-box;
}

select:focus {
	border: 1px solid $c-secondary;
	outline: 0;
	background-color: $c-white;
	box-shadow: inset 0 0 2px 0 $c-black;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol,
ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: 0.2rem 0.5rem;
	margin: 0 0.2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #f1f1f1;
	border: 1px solid #e1e1e1;
	border-radius: $border-radius;
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
	padding-left: 0;
}
th:last-child,
td:last-child {
	padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
	margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #e1e1e1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
	content: '';
	display: table;
	clear: both;
}
