/* © 2018 Tran Trong Thanh */

$c-primary: #f57224;
$c-secondary: #1a9cb7;
$c-blue-dark: #254a5f;
$c-blue-darker: #183544;
$c-orange: #ff7941;
$c-red-dark: #a90b26;
$c-green-dark: #370;
$c-white: #fff;
$c-white-darker: #fcfcfc;
$c-gray-lighter3: #eee;
$c-gray-lighter2: #a8b2b7;
$c-gray-lighter: #9e9e9e;
$c-gray: #888;
$c-gray-darker: #606060;
$c-gray-darker2: #545454;
$c-gray-darker3: #3a3a3a;
$c-black: #2a2a2a;

$font-family: Muli, Roboto, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$border-radius: 2px;
$gutter-sm: 0.5rem;
$gutter: 1rem;
$gutter-lg: 2rem;
$gutter-xl: 4rem;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
