/* © 2018 Tran Trong Thanh */

/* Similar to normalize.css */
@import '~bootstrap/scss/bootstrap-reboot';
// @import '~bootstrap/scss/bootstrap-grid';

@import 'variables';
@import 'scaffolding';
@import 'layout';

@import 'components/header';
@import 'components/footer';
@import 'components/category-page';
@import 'components/product-page';
@import 'components/card';

// carousel component
@import 'vendor/slick';
@import 'vendor/slick-theme';

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
